{% extends "base_generic.html" %}

{% block content %}
  <div>
    <p>{{data.code}}</p>
    <p>{{data.name}}</p>
    <p>{{data.impresion_general}}</p>
    <p>{{data.aroma}}</p>
    <p>{{data.apariencia}}</p>
    <p>{{data.sabor}}</p>
    <p>{{data.sensacion}}</p>
    <p>{{data.comentarios}}</p>
    <p>{{data.historia}}</p>
    <p>{{data.ingredientes}}</p>
    <p>{{data.comparacion}}</p>
    <p>{{data.estadisticas}}</p>
    <p>{{data.ejemplos}}</p>
    <p>{{data.etiquetas}}</p>
  </div>
             

{% endblock %}